holiday.fr-CH0.name=Nouvel An
holiday.fr-CH0.date=20220101
holiday.fr-CH1.name=Vendredi-Saint
holiday.fr-CH1.date=20220415
holiday.fr-CH2.name=Lundi de Pâques
holiday.fr-CH2.date=20220418
holiday.fr-CH3.name=Jeudi de l'Ascension
holiday.fr-CH3.date=20220526
holiday.fr-CH4.name=Lundi de Pentecôte
holiday.fr-CH4.date=20220606
holiday.fr-CH5.name=Fête nationale
holiday.fr-CH5.date=20220801
holiday.fr-CH6.name=Jeûne genevois
holiday.fr-CH6.date=20220908
holiday.fr-CH7.name=Noël
holiday.fr-CH7.date=20221225
holiday.fr-CH8.name=Restauration de la République
holiday.fr-CH8.date=20221231
