holiday.fr-CH11.name=Nouvel an
holiday.fr-CH11.date=20190101
holiday.fr-CH12.name=Vendredi Saint
holiday.fr-CH12.date=20190419
holiday.fr-CH13.name=Pâques
holiday.fr-CH13.date=20190421
holiday.fr-CH14.name=Lundi de Pâques
holiday.fr-CH14.date=20190422
holiday.fr-CH15.name=Ascension
holiday.fr-CH15.date=20190530
holiday.fr-CH16.name=Pentecôte
holiday.fr-CH16.date=20190609
holiday.fr-CH17.name=Lundi de Pentecôte
holiday.fr-CH17.date=20190610
holiday.fr-CH18.name=Fête nationale Suisse
holiday.fr-CH18.date=20190801
holiday.fr-CH19.name=Jeûne genevois
holiday.fr-CH19.date=20190905
holiday.fr-CH20.name=Noël
holiday.fr-CH20.date=20191225
holiday.fr-CH21.name=Restauration de la République Genève
holiday.fr-CH21.date=20191231

