holiday.fr-CH11.name=Nouvel an
holiday.fr-CH11.date=20200101
holiday.fr-CH12.name=Vendredi Saint
holiday.fr-CH12.date=20200410
holiday.fr-CH13.name=Pâques
holiday.fr-CH13.date=20200412
holiday.fr-CH14.name=Lundi de Pâques
holiday.fr-CH14.date=20200413
holiday.fr-CH15.name=Ascension
holiday.fr-CH15.date=20200521
holiday.fr-CH16.name=Pentecôte
holiday.fr-CH16.date=20200531
holiday.fr-CH17.name=Lundi de Pentecôte
holiday.fr-CH17.date=20200601
holiday.fr-CH18.name=Fête nationale Suisse
holiday.fr-CH18.date=20200801
holiday.fr-CH19.name=Jeûne genevois
holiday.fr-CH19.date=20200910
holiday.fr-CH20.name=Noël
holiday.fr-CH20.date=20201225
holiday.fr-CH21.name=Restauration de la République Genève
holiday.fr-CH21.date=20201231

