holiday.fr-CH22.name=Nouvel an
holiday.fr-CH22.date=20210101
holiday.fr-CH23.name=Vendredi Saint
holiday.fr-CH23.date=20210402
holiday.fr-CH24.name=Pâques
holiday.fr-CH24.date=20210404
holiday.fr-CH25.name=Lundi de Pâques
holiday.fr-CH25.date=20210405
holiday.fr-CH26.name=Ascension
holiday.fr-CH26.date=20210513
holiday.fr-CH27.name=Pentecôte
holiday.fr-CH27.date=20210523
holiday.fr-CH28.name=Lundi de Pentecôte
holiday.fr-CH28.date=20210524
holiday.fr-CH29.name=Fête nationale Suisse
holiday.fr-CH29.date=20210801
holiday.fr-CH30.name=Jeûne genevois
holiday.fr-CH30.date=20210909
holiday.fr-CH31.name=Noël
holiday.fr-CH31.date=20211225
holiday.fr-CH32.name=Restauration de la République Genève
holiday.fr-CH32.date=20211231
