[user]
	name = Alejandro Álvarez Ayllón
	email = alejandro.alvarez@sonarsource.com
[core]
	pager = less -FRX
	excludesFile = /home/alejandro.alvarez/.gitignore_global
[push]
	useForceIfIncludes = true
[url "https://github.com/"]
	insteadOf = git://github.com/
[init]
	defaultBranch = master
[rebase]
	updateRefs = true
