[user]
	name = Alejandro Álvarez Ayllón
	email = alejandro.alvarez@sonarsource.com
[core]
	pager = less -FRX
	excludesFile = /home/alejandro.alvarez/.gitignore_global
	autocrlf = input
[push]
	useForceIfIncludes = true
	autoSetupRemote = on
[url "https://github.com/"]
	insteadOf = git://github.com/
[init]
	defaultBranch = master
[rebase]
	updateRefs = true
	autoStash = true
	updateRefs = true
[pull]
	rebase = true
[includeIf "hasconfig:remote.*.url:git@github.com:ayllon/**"]
    path = /home/alejandro.alvarez/.gitconfig-ayllon
[rerere]
	enabled = true
[clangformat]
	binary = /home/alejandro.alvarez/projects/cfamily/sonar-cpp/build/linux-asserted-release-from-sources/llvm-project/bin/clang-format
[credential]
	helper = store

[pack]
	windowMemory = 256m
[url "ssh://git@github.com/SonarSource/sonar-secrets-pre-commit"]
	insteadOf = https://github.com/SonarSource/sonar-secrets-pre-commit
[url "ssh://git@github.com:SonarSource/llvm-project.git"]
    insteadOf = https://github.com/SonarSource/llvm-project
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:sonarsource/"]
	insteadOf = https://github.com/SonarSource/
