[user]
	name = Alejandro Álvarez Ayllón
	email = alejandro.alvarez@sonarsource.com
[core]
	pager = less -FRX
	excludesFile = /home/alejandro.alvarez/.gitignore_global
	autocrlf = input
[push]
	useForceIfIncludes = true
	autoSetupRemote = on
[url "https://github.com/"]
	insteadOf = git://github.com/
[init]
	defaultBranch = master
[rebase]
	updateRefs = true
	autoStash = true
[pull]
	rebase = true
[includeIf "hasconfig:remote.*.url:git@github.com:ayllon/**"]
    path = /home/alejandro.alvarez/.gitconfig-ayllon
[rerere]
	enabled = true
